include solcore/*
include solcore/data_analysis_tools/*
include solcore/parameter_system/*
include solcore/analytic_solar_cells/*
include solcore/spice/*
include solcore/tests/*
include solcore/absorption_calculator/*
include solcore/absorption_calculator/cppm/*
include solcore/quantum_mechanics/*
include solcore/units_system/*
include solcore/light_source/*
include solcore/graphing/*
include solcore/poisson_drift_diffusion/*
include solcore/material_data/*
include solcore/material_data/GaAsP-Material/*
include solcore/material_data/GaAsP-Material/n/*
include solcore/material_data/GaAsP-Material/k/*
include solcore/material_data/AlAs-Material/*
include solcore/material_data/SOPRA_DB/*
include solcore/material_data/SOPRA_DB/GAAS_T/*
include solcore/material_data/SOPRA_DB/REINGAAS_IN/*
include solcore/material_data/SOPRA_DB/HGCDTE_CD/*
include solcore/material_data/SOPRA_DB/ZNSETE_TE/*
include solcore/material_data/SOPRA_DB/SION_N/*
include solcore/material_data/SOPRA_DB/RESIGE_GE/*
include solcore/material_data/SOPRA_DB/ZNCDTE_CD/*
include solcore/material_data/SOPRA_DB/INGASB_GA/*
include solcore/material_data/SOPRA_DB/STSIGE_GE/*
include solcore/material_data/SOPRA_DB/STINGAAS_IN/*
include solcore/material_data/SOPRA_DB/SIGE_SI/*
include solcore/material_data/SOPRA_DB/ALAS_T/*
include solcore/material_data/SOPRA_DB/ALGAAS_AL/*
include solcore/material_data/SOPRA_DB/SIPOLY_X/*
include solcore/material_data/SOPRA_DB/SICR_T/*
include solcore/material_data/SOPRA_DB/ALGAINP_AL/*
include solcore/material_data/GaAs-Material/*
include solcore/material_data/Adachi/*
include solcore/material_data/InSb-Material/*
include solcore/material_data/AlInP-Material/*
include solcore/material_data/AlInP-Material/n/*
include solcore/material_data/AlInP-Material/k/*
include solcore/material_data/InGaSb-Material/*
include solcore/material_data/InGaSb-Material/n/*
include solcore/material_data/InGaSb-Material/k/*
include solcore/material_data/Ge-Material/*
include solcore/material_data/Vurgaftman/*
include solcore/material_data/Si-Material/*
include solcore/material_data/AlGaAs-Material/*
include solcore/material_data/AlGaAs-Material/n/*
include solcore/material_data/AlGaAs-Material/k/*
include solcore/material_data/Levinshtein/*
include solcore/material_data/GaSb-Material/*
include solcore/material_data/GaInP-Material/*
include solcore/material_data/GaInP-Material/n/*
include solcore/material_data/GaInP-Material/k/*
include solcore/material_data/InGaAs-Material/*
include solcore/material_data/InGaAs-Material/n/*
include solcore/material_data/InGaAs-Material/k/*
include solcore/material_system/*
include solcore/optics/*
