include solcore/*
include solcore/documentation/*
include solcore/documentation/SphinxDocs/*
include solcore/documentation/SphinxDocs/source/*
include solcore/documentation/SphinxDocs/source/Absorption/*
include solcore/documentation/SphinxDocs/source/ASC/*
include solcore/documentation/SphinxDocs/source/ASC/Figures/*
include solcore/documentation/SphinxDocs/source/_templates/*
include solcore/documentation/SphinxDocs/source/_static/*
include solcore/documentation/SphinxDocs/source/spectral/*
include solcore/documentation/SphinxDocs/source/Systems/*
include solcore/documentation/SphinxDocs/source/QM/*
include solcore/documentation/SphinxDocs/source/PDD/*
include solcore/documentation/SphinxDocs/source/PDD/Figures/*
include solcore/documentation/SphinxDocs/build/*
include solcore/documentation/SphinxDocs/build/html/*
include solcore/documentation/SphinxDocs/build/html/Absorption/*
include solcore/documentation/SphinxDocs/build/html/ASC/*
include solcore/documentation/SphinxDocs/build/html/_modules/*
include solcore/documentation/SphinxDocs/build/html/_modules/solcore/*
include solcore/documentation/SphinxDocs/build/html/_modules/solcore/parameter_system/*
include solcore/documentation/SphinxDocs/build/html/_modules/solcore/analytic_solar_cells/*
include solcore/documentation/SphinxDocs/build/html/_modules/solcore/absorption_calculator/*
include solcore/documentation/SphinxDocs/build/html/_modules/solcore/quantum_mechanics/*
include solcore/documentation/SphinxDocs/build/html/_modules/solcore/units_system/*
include solcore/documentation/SphinxDocs/build/html/_modules/solcore/light_source/*
include solcore/documentation/SphinxDocs/build/html/_modules/solcore/poisson_drift_diffusion/*
include solcore/documentation/SphinxDocs/build/html/_modules/solcore/material_data/*
include solcore/documentation/SphinxDocs/build/html/_modules/solcore/material_system/*
include solcore/documentation/SphinxDocs/build/html/_sources/*
include solcore/documentation/SphinxDocs/build/html/_sources/Absorption/*
include solcore/documentation/SphinxDocs/build/html/_sources/ASC/*
include solcore/documentation/SphinxDocs/build/html/_sources/spectral/*
include solcore/documentation/SphinxDocs/build/html/_sources/Systems/*
include solcore/documentation/SphinxDocs/build/html/_sources/QM/*
include solcore/documentation/SphinxDocs/build/html/_sources/PDD/*
include solcore/documentation/SphinxDocs/build/html/_static/*
include solcore/documentation/SphinxDocs/build/html/spectral/*
include solcore/documentation/SphinxDocs/build/html/_images/*
include solcore/documentation/SphinxDocs/build/html/_images/math/*
include solcore/documentation/SphinxDocs/build/html/Systems/*
include solcore/documentation/SphinxDocs/build/html/QM/*
include solcore/documentation/SphinxDocs/build/html/PDD/*
include solcore/documentation/SphinxDocs/build/doctrees/*
include solcore/documentation/SphinxDocs/build/doctrees/Absorption/*
include solcore/documentation/SphinxDocs/build/doctrees/ASC/*
include solcore/documentation/SphinxDocs/build/doctrees/spectral/*
include solcore/documentation/SphinxDocs/build/doctrees/Systems/*
include solcore/documentation/SphinxDocs/build/doctrees/QM/*
include solcore/documentation/SphinxDocs/build/doctrees/PDD/*
include solcore/data_analysis_tools/*
include solcore/parameter_system/*
include solcore/analytic_solar_cells/*
include solcore/spice/*
include solcore/tests/*
include solcore/absorption_calculator/*
include solcore/absorption_calculator/cppm/*
include solcore/quantum_mechanics/*
include solcore/units_system/*
include solcore/examples/*
include solcore/examples/AC_examples/*
include solcore/examples/AC_examples/Supporting_Data/*
include solcore/light_source/*
include solcore/graphing/*
include solcore/poisson_drift_diffusion/*
include solcore/material_data/*
include solcore/material_data/AlAs-Material/*
include solcore/material_data/SOPRA_DB/*
include solcore/material_data/SOPRA_DB/GAAS_T/*
include solcore/material_data/SOPRA_DB/REINGAAS_IN/*
include solcore/material_data/SOPRA_DB/HGCDTE_CD/*
include solcore/material_data/SOPRA_DB/ZNSETE_TE/*
include solcore/material_data/SOPRA_DB/SION_N/*
include solcore/material_data/SOPRA_DB/RESIGE_GE/*
include solcore/material_data/SOPRA_DB/ZNCDTE_CD/*
include solcore/material_data/SOPRA_DB/INGASB_GA/*
include solcore/material_data/SOPRA_DB/STSIGE_GE/*
include solcore/material_data/SOPRA_DB/STINGAAS_IN/*
include solcore/material_data/SOPRA_DB/SIGE_SI/*
include solcore/material_data/SOPRA_DB/ALAS_T/*
include solcore/material_data/SOPRA_DB/ALGAAS_AL/*
include solcore/material_data/SOPRA_DB/SIPOLY_X/*
include solcore/material_data/SOPRA_DB/SICR_T/*
include solcore/material_data/SOPRA_DB/ALGAINP_AL/*
include solcore/material_data/GaAs-Material/*
include solcore/material_data/Adachi/*
include solcore/material_data/InSb-Material/*
include solcore/material_data/InGaSb-Material/*
include solcore/material_data/InGaSb-Material/n/*
include solcore/material_data/InGaSb-Material/k/*
include solcore/material_data/Ge-Material/*
include solcore/material_data/Vurgaftman/*
include solcore/material_data/Si-Material/*
include solcore/material_data/AlGaAs-Material/*
include solcore/material_data/AlGaAs-Material/n/*
include solcore/material_data/AlGaAs-Material/k/*
include solcore/material_data/Levinshtein/*
include solcore/material_data/GaSb-Material/*
include solcore/material_data/InGaAs-Material/*
include solcore/material_data/InGaAs-Material/n/*
include solcore/material_data/InGaAs-Material/k/*
include solcore/material_system/*
include solcore/optics/*
