include solcore/strain_balancing.py
include solcore/config_tools.py
include solcore/solcore_config.txt
include solcore/constants.py
include solcore/__init__.py
include solcore/science_tracker.py
include solcore/solar_cell_solver.py
include solcore/structure.py
include solcore/smooth.py
include solcore/singleton.py
include solcore/interpolate.py
include solcore/solar_cell.py
include solcore/crystals.py
include solcore/source_managed_class.py
include solcore/state.py
include solcore/data_analysis_tools/__init__.py
include solcore/data_analysis_tools/ellipsometry_analysis.py
include solcore/parameter_system/__init__.py
include solcore/parameter_system/calculable_parameters.txt
include solcore/parameter_system/parameter_system.py
include solcore/analytic_solar_cells/detailed_balance.py
include solcore/analytic_solar_cells/diode_equation.py
include solcore/analytic_solar_cells/IV.py
include solcore/analytic_solar_cells/__init__.py
include solcore/analytic_solar_cells/tunnel_junctions.py
include solcore/analytic_solar_cells/depletion_approximation.py
include solcore/analytic_solar_cells/QE.py
include solcore/spice/spice.py
include solcore/spice/__init__.py
include solcore/spice/pv_module_solver.py
include solcore/spice/quasi_3D_solver.py
include solcore/tests/MgF-ZnS_AR.csv
include solcore/tests/test_basics.py
include solcore/tests/test_qm.py
include solcore/tests/SiGeSn_params.txt
include solcore/tests/in048ga052p.csv
include solcore/tests/__init__.py
include solcore/tests/Ge-Palik.csv
include solcore/tests/in01gaas.csv
include solcore/tests/SiGeSn_n.txt
include solcore/tests/SiGeSn_k.txt
include solcore/tests/test_absorption.py
include solcore/tests/test_pdd.py
include solcore/tests/alinp.csv
include solcore/absorption_calculator/sopra_db.py
include solcore/absorption_calculator/rigorous_coupled_wave.py
include solcore/absorption_calculator/kramers_kronig.py
include solcore/absorption_calculator/absorption_QW.py
include solcore/absorption_calculator/__init__.py
include solcore/absorption_calculator/nk_db.py
include solcore/absorption_calculator/tmm_core_vec.py
include solcore/absorption_calculator/adachi_alpha.py
include solcore/absorption_calculator/dielectric_constant_models.py
include solcore/absorption_calculator/transfer_matrix.py
include solcore/absorption_calculator/cppm/__init__.py
include solcore/absorption_calculator/cppm/Custom_CPPB.py
include solcore/absorption_calculator/cppm/Custom_CPPB_MaterialParamaters.txt
include solcore/quantum_mechanics/graphics.py
include solcore/quantum_mechanics/kp_bulk.py
include solcore/quantum_mechanics/high_level_kp_QW.py
include solcore/quantum_mechanics/kp_QW.py
include solcore/quantum_mechanics/structure_utilities.py
include solcore/quantum_mechanics/__init__.py
include solcore/quantum_mechanics/potential_utilities.py
include solcore/quantum_mechanics/heterostructure_alignment.py
include solcore/quantum_mechanics/strain.py
include solcore/units_system/Default_units.txt
include solcore/units_system/__init__.py
include solcore/units_system/units_system.py
include solcore/light_source/astmg173.csv
include solcore/light_source/smarts.py
include solcore/light_source/light_source.py
include solcore/light_source/__init__.py
include solcore/light_source/spectral2.py
include solcore/light_source/SPCTRAL_si_units.txt
include solcore/graphing/graph_lines.py
include solcore/graphing/graph.py
include solcore/graphing/__init__.py
include solcore/graphing/graph_support.py
include solcore/graphing/Custom_Colours.py
include solcore/graphing/Colours.txt
include solcore/poisson_drift_diffusion/DriftDiffusionUtilities.py
include solcore/poisson_drift_diffusion/DeviceStructure.py
include solcore/poisson_drift_diffusion/QWunit.py
include solcore/poisson_drift_diffusion/__init__.py
include solcore/poisson_drift_diffusion/DDmodel-current.f95
include solcore/material_data/mobility.py
include solcore/material_data/__init__.py
include solcore/material_data/mobility_parameters.json
include solcore/material_data/GaAsP-Material/__init__.py
include solcore/material_data/GaAsP-Material/n/1.000_GaAsP_n.txt
include solcore/material_data/GaAsP-Material/n/critical_points.txt
include solcore/material_data/GaAsP-Material/n/0.000_GaAsP_n.txt
include solcore/material_data/GaAsP-Material/k/1.000_GaAsP_k.txt
include solcore/material_data/GaAsP-Material/k/0.000_GaAsP_k.txt
include solcore/material_data/GaAsP-Material/k/critical_points.txt
include solcore/material_data/AlAs-Material/k.txt
include solcore/material_data/AlAs-Material/n.txt
include solcore/material_data/refractiveindex_info_DB/dboperations.py
include solcore/material_data/refractiveindex_info_DB/__init__.py
include solcore/material_data/refractiveindex_info_DB/dbmaterial.py
include solcore/material_data/SOPRA_DB/VSI2-A.MAT
include solcore/material_data/SOPRA_DB/WSI2-A.MAT
include solcore/material_data/SOPRA_DB/GAAS634T.MAT
include solcore/material_data/SOPRA_DB/SION0.MAT
include solcore/material_data/SOPRA_DB/H2O.MAT
include solcore/material_data/SOPRA_DB/SIO.MAT
include solcore/material_data/SOPRA_DB/TAOX1.MAT
include solcore/material_data/SOPRA_DB/ALAS499T.MAT
include solcore/material_data/SOPRA_DB/TISI-A.MAT
include solcore/material_data/SOPRA_DB/ALAS421T.MAT
include solcore/material_data/SOPRA_DB/GAAS100.MAT
include solcore/material_data/SOPRA_DB/SIAM2.MAT
include solcore/material_data/SOPRA_DB/NI3SI.MAT
include solcore/material_data/SOPRA_DB/WSI2-B.MAT
include solcore/material_data/SOPRA_DB/VSI2-B.MAT
include solcore/material_data/SOPRA_DB/GAAS546T.MAT
include solcore/material_data/SOPRA_DB/ALAS552T.MAT
include solcore/material_data/SOPRA_DB/LASF9.MAT
include solcore/material_data/SOPRA_DB/GASB.MAT
include solcore/material_data/SOPRA_DB/GAP100.MAT
include solcore/material_data/SOPRA_DB/GAAS415T.MAT
include solcore/material_data/SOPRA_DB/TAOX2.MAT
include solcore/material_data/SOPRA_DB/SION20.MAT
include solcore/material_data/SOPRA_DB/GASBOX.MAT
include solcore/material_data/SOPRA_DB/SIAM1.MAT
include solcore/material_data/SOPRA_DB/KCL.MAT
include solcore/material_data/SOPRA_DB/ALAS178T.MAT
include solcore/material_data/SOPRA_DB/INGAAS.MAT
include solcore/material_data/SOPRA_DB/GE.MAT
include solcore/material_data/SOPRA_DB/GAAS603T.MAT
include solcore/material_data/SOPRA_DB/HFSI2.MAT
include solcore/material_data/SOPRA_DB/IR3SI5P.MAT
include solcore/material_data/SOPRA_DB/GAAS443T.MAT
include solcore/material_data/SOPRA_DB/CR5SI3.MAT
include solcore/material_data/SOPRA_DB/Y2O3.MAT
include solcore/material_data/SOPRA_DB/CCL4.MAT
include solcore/material_data/SOPRA_DB/GAAS249T.MAT
include solcore/material_data/SOPRA_DB/CUO.MAT
include solcore/material_data/SOPRA_DB/IR3SI5E.MAT
include solcore/material_data/SOPRA_DB/GAAS199T.MAT
include solcore/material_data/SOPRA_DB/COSI2-4.MAT
include solcore/material_data/SOPRA_DB/GAAS224T.MAT
include solcore/material_data/SOPRA_DB/GAAS111.MAT
include solcore/material_data/SOPRA_DB/GAAS273T.MAT
include solcore/material_data/SOPRA_DB/CDSE.MAT
include solcore/material_data/SOPRA_DB/ALSI.MAT
include solcore/material_data/SOPRA_DB/GAAS320T.MAT
include solcore/material_data/SOPRA_DB/SIPORE.MAT
include solcore/material_data/SOPRA_DB/TINI.MAT
include solcore/material_data/SOPRA_DB/SIO2.MAT
include solcore/material_data/SOPRA_DB/MGF2.MAT
include solcore/material_data/SOPRA_DB/AIR.MAT
include solcore/material_data/SOPRA_DB/SF11.MAT
include solcore/material_data/SOPRA_DB/THF4.MAT
include solcore/material_data/SOPRA_DB/GAAS297T.MAT
include solcore/material_data/SOPRA_DB/TA.MAT
include solcore/material_data/SOPRA_DB/CO_2.MAT
include solcore/material_data/SOPRA_DB/ALAS305T.MAT
include solcore/material_data/SOPRA_DB/RINGAS24.MAT
include solcore/material_data/SOPRA_DB/SION40.MAT
include solcore/material_data/SOPRA_DB/ALAS578T.MAT
include solcore/material_data/SOPRA_DB/SICR-T02.MAT
include solcore/material_data/SOPRA_DB/ALCU.MAT
include solcore/material_data/SOPRA_DB/GAAS.MAT
include solcore/material_data/SOPRA_DB/List_Of_Files.xlsx
include solcore/material_data/SOPRA_DB/CAF2.MAT
include solcore/material_data/SOPRA_DB/SIOP.MAT
include solcore/material_data/SOPRA_DB/CDTE.MAT
include solcore/material_data/SOPRA_DB/ALAS626T.MAT
include solcore/material_data/SOPRA_DB/HFO2.MAT
include solcore/material_data/SOPRA_DB/AL2O3.MAT
include solcore/material_data/SOPRA_DB/NI2SI.MAT
include solcore/material_data/SOPRA_DB/ASI.MAT
include solcore/material_data/SOPRA_DB/SION80.MAT
include solcore/material_data/SOPRA_DB/ALAS098T.MAT
include solcore/material_data/SOPRA_DB/AU.MAT
include solcore/material_data/SOPRA_DB/GAAS126T.MAT
include solcore/material_data/SOPRA_DB/SICR.MAT
include solcore/material_data/SOPRA_DB/ITO2.MAT
include solcore/material_data/SOPRA_DB/SICR-T15.MAT
include solcore/material_data/SOPRA_DB/ALAS125T.MAT
include solcore/material_data/SOPRA_DB/INSBOX.MAT
include solcore/material_data/SOPRA_DB/NI.MAT
include solcore/material_data/SOPRA_DB/CRSI2EL2.MAT
include solcore/material_data/SOPRA_DB/GAAS465T.MAT
include solcore/material_data/SOPRA_DB/GAAS367T.MAT
include solcore/material_data/SOPRA_DB/AG.MAT
include solcore/material_data/SOPRA_DB/CO.MAT
include solcore/material_data/SOPRA_DB/ZNSCUB.MAT
include solcore/material_data/SOPRA_DB/SICR-T10.MAT
include solcore/material_data/SOPRA_DB/TASI2-A.MAT
include solcore/material_data/SOPRA_DB/CR3SI.MAT
include solcore/material_data/SOPRA_DB/ZNSE.MAT
include solcore/material_data/SOPRA_DB/SI3N4.MAT
include solcore/material_data/SOPRA_DB/SIGE_SI.MAT
include solcore/material_data/SOPRA_DB/GAAS081T.MAT
include solcore/material_data/SOPRA_DB/RINGAS20.MAT
include solcore/material_data/SOPRA_DB/ALAS390T.MAT
include solcore/material_data/SOPRA_DB/GAAS150T.MAT
include solcore/material_data/SOPRA_DB/AL2O3P.MAT
include solcore/material_data/SOPRA_DB/ALAS152T.MAT
include solcore/material_data/SOPRA_DB/List_Of_Files_Updated_PDF.pdf
include solcore/material_data/SOPRA_DB/TASI2-B.MAT
include solcore/material_data/SOPRA_DB/TIO2.MAT
include solcore/material_data/SOPRA_DB/P_SIAS.MAT
include solcore/material_data/SOPRA_DB/NBSI-B.MAT
include solcore/material_data/SOPRA_DB/RINGAS0.MAT
include solcore/material_data/SOPRA_DB/GAAS344T.MAT
include solcore/material_data/SOPRA_DB/SION60.MAT
include solcore/material_data/SOPRA_DB/RINGAS10.MAT
include solcore/material_data/SOPRA_DB/TI.MAT
include solcore/material_data/SOPRA_DB/GAAS041T.MAT
include solcore/material_data/SOPRA_DB/GAAS515T.MAT
include solcore/material_data/SOPRA_DB/GAAS391T.MAT
include solcore/material_data/SOPRA_DB/FESI2EPI.MAT
include solcore/material_data/SOPRA_DB/SICR-T35.MAT
include solcore/material_data/SOPRA_DB/NBSI-A.MAT
include solcore/material_data/SOPRA_DB/GAASOX.MAT
include solcore/material_data/SOPRA_DB/INSB.MAT
include solcore/material_data/SOPRA_DB/CARBAM.MAT
include solcore/material_data/SOPRA_DB/CU.MAT
include solcore/material_data/SOPRA_DB/SOPRA_DB_Updated.csv
include solcore/material_data/SOPRA_DB/GAPOX.MAT
include solcore/material_data/SOPRA_DB/SI100_2.MAT
include solcore/material_data/SOPRA_DB/compounds.txt
include solcore/material_data/SOPRA_DB/ALAS331T.MAT
include solcore/material_data/SOPRA_DB/ARACHI.MAT
include solcore/material_data/SOPRA_DB/SICR-T20.MAT
include solcore/material_data/SOPRA_DB/ALAS.MAT
include solcore/material_data/SOPRA_DB/SICR-T30.MAT
include solcore/material_data/SOPRA_DB/OS.MAT
include solcore/material_data/SOPRA_DB/7059.MAT
include solcore/material_data/SOPRA_DB/GAAS488T.MAT
include solcore/material_data/SOPRA_DB/GAAS060T.MAT
include solcore/material_data/SOPRA_DB/LI.MAT
include solcore/material_data/SOPRA_DB/SICR-T25.MAT
include solcore/material_data/SOPRA_DB/ALON.MAT
include solcore/material_data/SOPRA_DB/SIGE_GE.MAT
include solcore/material_data/SOPRA_DB/P_SIUD.MAT
include solcore/material_data/SOPRA_DB/ZRO2.MAT
include solcore/material_data/SOPRA_DB/ALAS445T.MAT
include solcore/material_data/SOPRA_DB/MO.MAT
include solcore/material_data/SOPRA_DB/ZRSI2.MAT
include solcore/material_data/SOPRA_DB/AL.MAT
include solcore/material_data/SOPRA_DB/V.MAT
include solcore/material_data/SOPRA_DB/W.MAT
include solcore/material_data/SOPRA_DB/GAAS579T.MAT
include solcore/material_data/SOPRA_DB/CR.MAT
include solcore/material_data/SOPRA_DB/INPOX.MAT
include solcore/material_data/SOPRA_DB/ALAS469T.MAT
include solcore/material_data/SOPRA_DB/ALAS527T.MAT
include solcore/material_data/SOPRA_DB/SI111.MAT
include solcore/material_data/SOPRA_DB/FESI2EL1.MAT
include solcore/material_data/SOPRA_DB/VOID.MAT
include solcore/material_data/SOPRA_DB/GE100.MAT
include solcore/material_data/SOPRA_DB/GAAS175T.MAT
include solcore/material_data/SOPRA_DB/PT.MAT
include solcore/material_data/SOPRA_DB/PD2SI-B.MAT
include solcore/material_data/SOPRA_DB/BAF2.MAT
include solcore/material_data/SOPRA_DB/SI110.MAT
include solcore/material_data/SOPRA_DB/SICR-T40.MAT
include solcore/material_data/SOPRA_DB/TIO2B.MAT
include solcore/material_data/SOPRA_DB/RESI1-75.MAT
include solcore/material_data/SOPRA_DB/ALAS602T.MAT
include solcore/material_data/SOPRA_DB/PBSE.MAT
include solcore/material_data/SOPRA_DB/FESI2EL2.MAT
include solcore/material_data/SOPRA_DB/ALAS028T.MAT
include solcore/material_data/SOPRA_DB/RH.MAT
include solcore/material_data/SOPRA_DB/COR7059.MAT
include solcore/material_data/SOPRA_DB/INAS.MAT
include solcore/material_data/SOPRA_DB/CU2O.MAT
include solcore/material_data/SOPRA_DB/PD2SI-A.MAT
include solcore/material_data/SOPRA_DB/ALSITI.MAT
include solcore/material_data/SOPRA_DB/ALAS228T.MAT
include solcore/material_data/SOPRA_DB/ALSB.MAT
include solcore/material_data/SOPRA_DB/MOSI2-B.MAT
include solcore/material_data/SOPRA_DB/GAAS103T.MAT
include solcore/material_data/SOPRA_DB/ALAS052T.MAT
include solcore/material_data/SOPRA_DB/PD.MAT
include solcore/material_data/SOPRA_DB/INASOX.MAT
include solcore/material_data/SOPRA_DB/ALAS204T.MAT
include solcore/material_data/SOPRA_DB/TEST.MAT
include solcore/material_data/SOPRA_DB/PBS.MAT
include solcore/material_data/SOPRA_DB/SIPOLY.MAT
include solcore/material_data/SOPRA_DB/ALAS361T.MAT
include solcore/material_data/SOPRA_DB/GAP.MAT
include solcore/material_data/SOPRA_DB/INP.MAT
include solcore/material_data/SOPRA_DB/MOSI2-A.MAT
include solcore/material_data/SOPRA_DB/SIC.MAT
include solcore/material_data/SOPRA_DB/GAAS031T.MAT
include solcore/material_data/SOPRA_DB/ALAS072T.MAT
include solcore/material_data/SOPRA_DB/DIAM.MAT
include solcore/material_data/SOPRA_DB/NISI.MAT
include solcore/material_data/SOPRA_DB/IR.MAT
include solcore/material_data/SOPRA_DB/GAASO.MAT
include solcore/material_data/SOPRA_DB/SICR-T45.MAT
include solcore/material_data/SOPRA_DB/LIF.MAT
include solcore/material_data/SOPRA_DB/BK7.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS634T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS546T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS415T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS603T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS443T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS249T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS199T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS224T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS273T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS320T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS297T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS126T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS465T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS367T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS081T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS150T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS344T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS041T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS515T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS391T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS488T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS060T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS579T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS175T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS103T.MAT
include solcore/material_data/SOPRA_DB/GAAS_T/GAAS031T.MAT
include solcore/material_data/SOPRA_DB/REINGAAS_IN/RINGAS24.MAT
include solcore/material_data/SOPRA_DB/REINGAAS_IN/RINGAS20.MAT
include solcore/material_data/SOPRA_DB/REINGAAS_IN/RINGAS10.MAT
include solcore/material_data/SOPRA_DB/REINGAAS_IN/RINGAS00.MAT
include solcore/material_data/SOPRA_DB/HGCDTE_CD/HGCDTE30.MAT
include solcore/material_data/SOPRA_DB/HGCDTE_CD/HGCDTE20.MAT
include solcore/material_data/SOPRA_DB/HGCDTE_CD/HGCDTE00.MAT
include solcore/material_data/SOPRA_DB/ZNSETE_TE/ZNSETE3.MAT
include solcore/material_data/SOPRA_DB/ZNSETE_TE/ZNSETE1.MAT
include solcore/material_data/SOPRA_DB/ZNSETE_TE/ZNSETE0.MAT
include solcore/material_data/SOPRA_DB/ZNSETE_TE/ZNSETE10.MAT
include solcore/material_data/SOPRA_DB/ZNSETE_TE/ZNSETE5.MAT
include solcore/material_data/SOPRA_DB/ZNSETE_TE/ZNSETE7.MAT
include solcore/material_data/SOPRA_DB/ZNSETE_TE/ZNSETE9.MAT
include solcore/material_data/SOPRA_DB/SION_N/SION20.MAT
include solcore/material_data/SOPRA_DB/SION_N/SION40.MAT
include solcore/material_data/SOPRA_DB/SION_N/SION80.MAT
include solcore/material_data/SOPRA_DB/SION_N/SION60.MAT
include solcore/material_data/SOPRA_DB/SION_N/SION00.MAT
include solcore/material_data/SOPRA_DB/RESIGE_GE/RESIGE11.MAT
include solcore/material_data/SOPRA_DB/RESIGE_GE/RESIGE39.MAT
include solcore/material_data/SOPRA_DB/RESIGE_GE/RESIGE75.MAT
include solcore/material_data/SOPRA_DB/RESIGE_GE/RESIGE64.MAT
include solcore/material_data/SOPRA_DB/RESIGE_GE/RESIGE83.MAT
include solcore/material_data/SOPRA_DB/RESIGE_GE/RESIGE91.MAT
include solcore/material_data/SOPRA_DB/RESIGE_GE/RESIGE51.MAT
include solcore/material_data/SOPRA_DB/RESIGE_GE/RESIGE22.MAT
include solcore/material_data/SOPRA_DB/RESIGE_GE/RESIGE100.MAT
include solcore/material_data/SOPRA_DB/ZNCDTE_CD/ZNCDTE30.MAT
include solcore/material_data/SOPRA_DB/ZNCDTE_CD/ZNCDTE50.MAT
include solcore/material_data/SOPRA_DB/ZNCDTE_CD/ZNCDTE90.MAT
include solcore/material_data/SOPRA_DB/ZNCDTE_CD/ZNCDTE70.MAT
include solcore/material_data/SOPRA_DB/ZNCDTE_CD/ZNCDTE100.MAT
include solcore/material_data/SOPRA_DB/ZNCDTE_CD/ZNCDTE10.MAT
include solcore/material_data/SOPRA_DB/ZNCDTE_CD/ZNCDTE00.MAT
include solcore/material_data/SOPRA_DB/INGASB_GA/INGASB70.MAT
include solcore/material_data/SOPRA_DB/INGASB_GA/INGASB10.MAT
include solcore/material_data/SOPRA_DB/INGASB_GA/INGASB00.MAT
include solcore/material_data/SOPRA_DB/INGASB_GA/INGASB30.MAT
include solcore/material_data/SOPRA_DB/INGASB_GA/INGASB100.MAT
include solcore/material_data/SOPRA_DB/INGASB_GA/INGASB50.MAT
include solcore/material_data/SOPRA_DB/INGASB_GA/INGASB90.MAT
include solcore/material_data/SOPRA_DB/STSIGE_GE/STSG17.MAT
include solcore/material_data/SOPRA_DB/STSIGE_GE/STSG12.MAT
include solcore/material_data/SOPRA_DB/STSIGE_GE/STSG06.MAT
include solcore/material_data/SOPRA_DB/STSIGE_GE/STSG0.MAT
include solcore/material_data/SOPRA_DB/STSIGE_GE/STSG22.MAT
include solcore/material_data/SOPRA_DB/STINGAAS_IN/SINGAS00.MAT
include solcore/material_data/SOPRA_DB/STINGAAS_IN/SINGAS10.MAT
include solcore/material_data/SOPRA_DB/STINGAAS_IN/SINGAS20.MAT
include solcore/material_data/SOPRA_DB/STINGAAS_IN/SINGAS24.MAT
include solcore/material_data/SOPRA_DB/SIGE_SI/SIGE11.MAT
include solcore/material_data/SOPRA_DB/SIGE_SI/SIGE28.MAT
include solcore/material_data/SOPRA_DB/SIGE_SI/SIGE98.MAT
include solcore/material_data/SOPRA_DB/SIGE_SI/SIGE65.MAT
include solcore/material_data/SOPRA_DB/SIGE_SI/SIGE85.MAT
include solcore/material_data/SOPRA_DB/SIGE_SI/SIGE20.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS499T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS421T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS552T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS178T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS305T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS578T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS626T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS098T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS125T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS390T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS152T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS331T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS445T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS469T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS527T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS602T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS028T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS228T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS052T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS204T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS361T.MAT
include solcore/material_data/SOPRA_DB/ALAS_T/ALAS072T.MAT
include solcore/material_data/SOPRA_DB/ALGAAS_AL/ALGAAS60.MAT
include solcore/material_data/SOPRA_DB/ALGAAS_AL/ALGAAS70.MAT
include solcore/material_data/SOPRA_DB/ALGAAS_AL/ALGAAS100.MAT
include solcore/material_data/SOPRA_DB/ALGAAS_AL/ALGAAS00.MAT
include solcore/material_data/SOPRA_DB/ALGAAS_AL/ALGAAS10.MAT
include solcore/material_data/SOPRA_DB/ALGAAS_AL/ALGAAS20.MAT
include solcore/material_data/SOPRA_DB/ALGAAS_AL/ALGAAS30.MAT
include solcore/material_data/SOPRA_DB/ALGAAS_AL/ALGAAS80.MAT
include solcore/material_data/SOPRA_DB/ALGAAS_AL/ALGAAS40.MAT
include solcore/material_data/SOPRA_DB/ALGAAS_AL/ALGAAS50.MAT
include solcore/material_data/SOPRA_DB/ALGAAS_AL/ALGAAS90.MAT
include solcore/material_data/SOPRA_DB/SIPOLY_X/SIPOLY60.MAT
include solcore/material_data/SOPRA_DB/SIPOLY_X/SIPOLY70.MAT
include solcore/material_data/SOPRA_DB/SIPOLY_X/SIPOLY10.MAT
include solcore/material_data/SOPRA_DB/SIPOLY_X/SIPOLY20.MAT
include solcore/material_data/SOPRA_DB/SIPOLY_X/SIPOLY30.MAT
include solcore/material_data/SOPRA_DB/SIPOLY_X/SIPOLY80.MAT
include solcore/material_data/SOPRA_DB/SIPOLY_X/SIPOLY40.MAT
include solcore/material_data/SOPRA_DB/SIPOLY_X/SIPOLY50.MAT
include solcore/material_data/SOPRA_DB/SIPOLY_X/SIPOLY90.MAT
include solcore/material_data/SOPRA_DB/SICR_T/SICR-T150.MAT
include solcore/material_data/SOPRA_DB/SICR_T/SICR-T350.MAT
include solcore/material_data/SOPRA_DB/SICR_T/SICR-T020.MAT
include solcore/material_data/SOPRA_DB/SICR_T/SICR-T250.MAT
include solcore/material_data/SOPRA_DB/SICR_T/SICR-T450.MAT
include solcore/material_data/SOPRA_DB/SICR_T/SICR-T100.MAT
include solcore/material_data/SOPRA_DB/SICR_T/SICR-T300.MAT
include solcore/material_data/SOPRA_DB/SICR_T/SICR-T400.MAT
include solcore/material_data/SOPRA_DB/SICR_T/SICR-T200.MAT
include solcore/material_data/SOPRA_DB/ALGAINP_AL/AGAINP30.MAT
include solcore/material_data/SOPRA_DB/ALGAINP_AL/AGAINP100.MAT
include solcore/material_data/SOPRA_DB/ALGAINP_AL/AGAINP60.MAT
include solcore/material_data/SOPRA_DB/ALGAINP_AL/AGAINP70.MAT
include solcore/material_data/SOPRA_DB/ALGAINP_AL/AGAINP00.MAT
include solcore/material_data/SOPRA_DB/ALGAINP_AL/AGAINP10.MAT
include solcore/material_data/GaAs-Material/k.txt
include solcore/material_data/GaAs-Material/n.txt
include solcore/material_data/Adachi/ternaries.txt
include solcore/material_data/Adachi/binaries.txt
include solcore/material_data/InSb-Material/k.txt
include solcore/material_data/InSb-Material/n.txt
include solcore/material_data/AlInP-Material/__init__.py
include solcore/material_data/AlInP-Material/n/critical_points.txt
include solcore/material_data/AlInP-Material/n/1.000_AlInP_n.txt
include solcore/material_data/AlInP-Material/n/0.530_AlInP_n.txt
include solcore/material_data/AlInP-Material/n/0.000_AlInP_n.txt
include solcore/material_data/AlInP-Material/k/critical_points.txt
include solcore/material_data/AlInP-Material/k/1.000_AlInP_k.txt
include solcore/material_data/AlInP-Material/k/0.000_AlInP_k.txt
include solcore/material_data/AlInP-Material/k/0.530_AlInP_k.txt
include solcore/material_data/InGaSb-Material/__init__.py
include solcore/material_data/InGaSb-Material/n/0.000_InGaSb_N.txt
include solcore/material_data/InGaSb-Material/n/0.700_InGaSb_N.txt
include solcore/material_data/InGaSb-Material/n/0.900_InGaSb_N.txt
include solcore/material_data/InGaSb-Material/n/0.100_InGaSb_N.txt
include solcore/material_data/InGaSb-Material/n/1.000_InGaSb_N.txt
include solcore/material_data/InGaSb-Material/n/0.300_InGaSb_N.txt
include solcore/material_data/InGaSb-Material/n/0.500_InGaSb_N.txt
include solcore/material_data/InGaSb-Material/n/critical_points.txt
include solcore/material_data/InGaSb-Material/k/0.900_InGaSb_K.txt
include solcore/material_data/InGaSb-Material/k/0.100_InGaSb_K.txt
include solcore/material_data/InGaSb-Material/k/0.700_InGaSb_K.txt
include solcore/material_data/InGaSb-Material/k/0.000_InGaSb_K.txt
include solcore/material_data/InGaSb-Material/k/0.500_InGaSb_K.txt
include solcore/material_data/InGaSb-Material/k/critical_points.txt
include solcore/material_data/InGaSb-Material/k/1.000_InGaSb_K.txt
include solcore/material_data/InGaSb-Material/k/0.300_InGaSb_K.txt
include solcore/material_data/Ge-Material/k.txt
include solcore/material_data/Ge-Material/n.txt
include solcore/material_data/Vurgaftman/ternaries.txt
include solcore/material_data/Vurgaftman/binaries.txt
include solcore/material_data/Si-Material/into.txt
include solcore/material_data/Si-Material/k.txt
include solcore/material_data/Si-Material/n.txt
include solcore/material_data/AlGaAs-Material/__init__.py
include solcore/material_data/AlGaAs-Material/n/0.590_AlGaAs_n.txt
include solcore/material_data/AlGaAs-Material/n/0.491_AlGaAs_n.txt
include solcore/material_data/AlGaAs-Material/n/0.419_AlGaAs_n.txt
include solcore/material_data/AlGaAs-Material/n/0.000_AlGaAs_n.txt
include solcore/material_data/AlGaAs-Material/n/0.700_AlGaAs_n.txt
include solcore/material_data/AlGaAs-Material/n/0.315_AlGaAs_n.txt
include solcore/material_data/AlGaAs-Material/n/1.000_AlGaAs_n.txt
include solcore/material_data/AlGaAs-Material/n/critical_points.txt
include solcore/material_data/AlGaAs-Material/n/0.198_AlGaAs_n.txt
include solcore/material_data/AlGaAs-Material/n/0.099_AlGaAs_n.txt
include solcore/material_data/AlGaAs-Material/n/0.804_AlGaAs_n.txt
include solcore/material_data/AlGaAs-Material/k/0.700_AlGaAs_k.txt
include solcore/material_data/AlGaAs-Material/k/0.419_AlGaAs_k.txt
include solcore/material_data/AlGaAs-Material/k/0.000_AlGaAs_k.txt
include solcore/material_data/AlGaAs-Material/k/0.491_AlGaAs_k.txt
include solcore/material_data/AlGaAs-Material/k/0.590_AlGaAs_k.txt
include solcore/material_data/AlGaAs-Material/k/0.315_AlGaAs_k.txt
include solcore/material_data/AlGaAs-Material/k/1.000_AlGaAs_k.txt
include solcore/material_data/AlGaAs-Material/k/critical_points.txt
include solcore/material_data/AlGaAs-Material/k/0.804_AlGaAs_k.txt
include solcore/material_data/AlGaAs-Material/k/0.099_AlGaAs_k.txt
include solcore/material_data/AlGaAs-Material/k/0.198_AlGaAs_k.txt
include solcore/material_data/Levinshtein/GroupIV.txt
include solcore/material_data/GaSb-Material/k.txt
include solcore/material_data/GaSb-Material/n.txt
include solcore/material_data/GaInP-Material/__init__.py
include solcore/material_data/GaInP-Material/n/0.490_GaInP_n.txt
include solcore/material_data/GaInP-Material/n/critical_points.txt
include solcore/material_data/GaInP-Material/n/0.000_GaInP_n.txt
include solcore/material_data/GaInP-Material/n/1.000_GaInP_n.txt
include solcore/material_data/GaInP-Material/k/0.490_GaInP_k.txt
include solcore/material_data/GaInP-Material/k/critical_points.txt
include solcore/material_data/GaInP-Material/k/0.000_GaInP_k.txt
include solcore/material_data/GaInP-Material/k/1.000_GaInP_k.txt
include solcore/material_data/InGaAs-Material/__init__.py
include solcore/material_data/InGaAs-Material/n/0.000_Strained_InGaAs_n.txt
include solcore/material_data/InGaAs-Material/n/critical_points.txt
include solcore/material_data/InGaAs-Material/n/0.100_Strained_InGaAs_n.txt
include solcore/material_data/InGaAs-Material/n/0.200_Strained_InGaAs_n.txt
include solcore/material_data/InGaAs-Material/n/0.240_Strained_InGaAs_n.txt
include solcore/material_data/InGaAs-Material/k/0.000_Strained_InGaAs_k.txt
include solcore/material_data/InGaAs-Material/k/critical_points.txt
include solcore/material_data/InGaAs-Material/k/0.100_Strained_InGaAs_k.txt
include solcore/material_data/InGaAs-Material/k/0.240_Strained_InGaAs_k.txt
include solcore/material_data/InGaAs-Material/k/0.200_Strained_InGaAs_k.txt
include solcore/material_system/create_new_material.py
include solcore/material_system/__init__.py
include solcore/material_system/critical_point_interpolate.py
include solcore/material_system/material_system.py
include solcore/material_system/critical_point_picker.py
include solcore/optics/tmm.py
include solcore/optics/__init__.py
include solcore/optics/rcwa.py
include solcore/optics/beer_lambert.py
include solcore/optics/external_optics.py
