name: testing_and_deploy

on: [push]

jobs:
  testing:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.7, 3.8]
        exclude:
          - os: windows-latest
            python-version: 3.8

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install system dependencies in Linux
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt install -y gfortran ngspice

    - name: Install system dependencies in MacOS
      if: matrix.os == 'macos-latest'
      run: brew install ngspice

    - name: Install system dependencies in Windows
      if: matrix.os == 'windows-latest'
      run: choco install ngspice

    - name: Install python dependencies
      run: |
        python -m pip install --upgrade setuptools wheel pip twine numpy
        pip install -e .[dev]

    - name: Install Solcore Linux and MacOS
      if: matrix.os != 'windows-latest'
      run: pip install --no-deps --force-reinstall --install-option="--with_pdd" -e .

    - name: Install Solcore Windows
      if: matrix.os == 'windows-latest'
      env:
        FC: gfortran
        CC: gcc
      run: |
        echo "[build]`ncompiler=mingw32" | Out-File -Encoding ASCII ~/pydistutils.cfg
        pip install --no-deps --force-reinstall --install-option="--with_pdd" -e .
      shell: powershell

    - name: Test with pytest
      env:
        SOLCORE_SPICE: ngspice
      run: |
        pytest --cov=solcore/

    - name: Build package
      if: success() && startsWith(github.event.ref, 'refs/tags')
      run: |
        python setup.py update_manifest
        python setup.py sdist bdist_wheel

    - name: Publish package
      if: success() && startsWith(github.event.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.PYPI_PASSWORD }}

    - name: Codecov
      if: matrix.os == 'ubuntu-latest'
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: |
        pip install codecov
        codecov
